@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Fraunces:ital,opsz,wght@0,9..144,100..900;1,9..144,100..900&display=swap');

body {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	overflow-x: hidden;
	font-family: "Outfit", serif;
}

.headdeco {
	background-color: #24053e;
	width: 150%;
	height: 150%;
	border-radius: 100%;
	position: absolute;
	top: -75%;
	transform: translateX(-16%);
	z-index: -1;
}
header {
    width: 100%;
    height: 100vh;
	position: relative;
}
nav {
	display: flex;
	justify-content: space-between;
	padding: 1%;
}
nav a {
	color: #fff;
}
.headimg {
	position: absolute;
    left: 30%;
    top: 100%;
}
.img {
	position: relative;
    height: 30%;
}

.title{
    font-family: "Fraunces", serif;
    color: #fff;
}
.title
.underline{
    text-decoration: underline;
    text-underline-offset: 4px;

}
.title h1{
	font-size: 50px;
	font-weight: 400;
}